@model IEnumerable<NEP.Models.Court>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Public.cshtml";
}

<h1>Index</h1>

<p>
    <a href="/Courts/Create/?facilityId=@ViewBag.FacilityId">Create New Court</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsIndoor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surface)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lines)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facility.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsIndoor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surface)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lines)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
