@model NEP.Models.DiningFacility

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Public.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DiningFacility</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiningFacilityType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiningFacilityType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DineIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DineIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Delivery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Delivery)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeerAndWine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeerAndWine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullLiquor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullLiquor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.URL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.URL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Facility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Facility.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Menu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Menu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image3)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index/?facilityId=@Model.FacilityId">Back to List</a>
</div>
