@model NEP.Models.CoachSocialMedia

@{
    ViewData["Title"] = "Coach Social Media Details";
    Layout = "~/Views/Shared/_Public.cshtml";
}

<h1>Coach Social Media Details</h1>

<div>
    <h4>Coach Social Media</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Facebook
        </dt>
        <dd class="col-sm-10">
            @Model.Facebook
        </dd>
        <dt class="col-sm-2">
            Instagram
        </dt>
        <dd class="col-sm-10">
            @Model.Instagram
        </dd>
        <dt class="col-sm-2">
            LinkedIn
        </dt>
        <dd class="col-sm-10">
            @Model.TikTok
        </dd>
        <dt class="col-sm-2">
            WhatsApp
        </dt>
        <dd class="col-sm-10">
            @Model.Snapchat
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditSocialMedia" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
