@model IEnumerable<NEP.Models.Email>

@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Emails</title>
    <script src="/js/jquery.min.js"></script>
</head>
<body>
    @*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FromAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Body)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsNew)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FromAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Body)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        <input type="checkbox" id="@item.Id" disabled="disabled" @Html.Raw(
                           item.IsNew == true ? "checked=\"checked\"" : "") />

                        @*@Html.DisplayFor(modelItem => item.IsNew, new { htmlAttributes = new { id = item.Id } })*@
                    </td>
                    <td>
                        <a href="#" onclick="updateReadStatus('@item.Id');">Edit</a> |
                        @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                        <a href="#" onclick="deleteEmail('@item.Id');">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <script>
        function updateReadStatus(id) {
            //debugger;
            $.post('/Management/UpdateEmailMarkRead/', {
                id: id // Replace with your data parameters
                
            }, function (response) {
                // Handle the response from the server
                console.log(response);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                // Handle any errors that occurred during the request
                console.log(textStatus, errorThrown);
            }).always(function () {
                //debugger;
                $("#" + id).prop("checked", false);
            });


            ////var tryme=$("tryme");
            ////alert("in here");
            //debugger;
            //$.ajax({
            //    url: '/Management/UpdateEmailMarkRead/' + id,
            //    method: 'POST',
            //    success:function() {
            //        debugger;
            //        $("#" + id).prop("checked", false);
            //        //
            //    },
            //    error: function (jqXHR, textStatus, errorThrown) {
            //        alert("error");
            //    }
            //});

        }

        function deleteEmail(id) {
            //debugger;
            $.post('/Management/DeleteEmail/', {
                id: id // Replace with your data parameters

            }, function (response) {
                // Handle the response from the server
                console.log(response);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                // Handle any errors that occurred during the request
                console.log(textStatus, errorThrown);
            }).always(function () {
                //debugger;
                window.location = "/Management/Emails";
            });

        }

    </script>
</body>
</html>
